body{
   background: #f1f1f1;
   color: #555;
}
.corpo{
    position: relative;
    width: 1000px;
    left: 100%;
    margin-left: -500px;
    margin-top: 150px;
}

.conteudo{
    display: table;
}
.imagem{
    display: table-cell;
    
}
.texto{
    display: table-cell;
    float: left;
    width: 300px;
}

#botaofim{
        background-color: tomato;
        border-width: 1px;
        border-color: lightgray;
        border-radius: 8px;
        color: rgb(0, 0, 0);
        padding: 16px 32px;
        text-decoration: none;
        margin: 2px 2px;
        cursor: pointer;
}

h1, h2, h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;    
}

h1 {
    font-weight: bold;
}

span {
    font-weight: bold;
}
